<div>
    <h1><a href="/">Django Girls Blog</a></h1>
</div>

{% for post in posts %}
    <div>

        <h1><a href="">{{ post.title }}</a></h1>
        <p>Published Date: {{ post.published_date }}</p>
        <p>Photographer Name: {{ post.photographer_name }}</p>
        <p>Place: {{ post.photo_place }}</p>
        <p>Category: {{ post.category }}</p>
        <p>Description: {{ post.description }}</p>
        <p>Camera used: {{ post.camera_used }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}